/* @font-face {
    font-family: Objektiv Mk2;
    src: url(fonts/sansation_light.woff);
} */

@font-face {
    font-family: 'Objektiv Mk2';
    src: url('/fonts/Objektiv/ObjektivMk2-Bold.woff2') format('woff2'), url('/fonts/Objektiv/ObjektivMk2-Bold.eot') format('embedded-opentype'), url('/fonts/Objektiv/ObjektivMk2-Bold.woff') format('woff'), url('/fonts/Objektiv/ObjektivMk2-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Objektiv Mk2';
    src: url('/fonts/Objektiv/ObjektivMk2-Medium.woff2') format('woff2'), url('/fonts/Objektiv/ObjektivMk2-Medium.eot') format('embedded-opentype'), url('/fonts/Objektiv/ObjektivMk2-Medium.woff') format('woff'), url('/fonts/Objektiv/ObjektivMk2-Medium.ttf') format('truetype'), url('/fonts/Objektiv/ObjektivMk2-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Objektiv Mk2';
    src: url('/fonts/Objektiv/ObjektivMk2-Regular.woff2') format('woff2'), url('/fonts/Objektiv/ObjektivMk2-Regular.eot') format('embedded-opentype'), url('/fonts/Objektiv/ObjektivMk2-Regular.woff') format('woff'), url('/fonts/Objektiv/ObjektivMk2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Objektiv Mk2';
    src: url('/fonts/Objektiv/ObjektivMk2-XBold.eot') format('embedded-opentype'), url('/fonts/Objektiv/ObjektivMk2-XBold.woff') format('woff'), url('/fonts/Objektiv/ObjektivMk2-XBold.ttf') format('truetype'), url('/fonts/Objektiv/ObjektivMk2-XBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }



body{
    background: #F8F8F8;
}

footer{
    background: #000000;
}

.about-jumbotron-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    max-width: 45rem;
    line-height: 3rem;
    /* or 133% */

    text-align: center;
    font-feature-settings: 'liga' off;

    /* Black */

    color: #2B2B2B;
    padding-top: 7rem;
    padding-bottom: 10rem;
    /* background: transparent; */
}

.about-pod-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;
    /* or 150% */


    /* POD Black */

    color: #474747;
    max-width: 35rem;
    padding-top: 5rem;
}

.about-section{
    position: relative;
    margin-top: 23rem;
    background: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-section-inner{
    max-width: 80rem;
}

.action-buttons{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 30rem;
}

.admin-delete-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */

    text-align: center;
}

.admin-img-upload{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border-style: dashed;
    border-width: bold;
    border-color: #C8C8C8;
    background-color: #e2e2e2;
}

.admin-form-title{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
}

.admin-dashboard-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .9rem;
    line-height: 16px;
    /* identical to box height, or 114% */
    /* POD Orange */
    color: #EB6B00;

}

.admin-nav{
    padding-bottom: 10rem;
}

.admin-nav-link{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 16px;
    /* identical to box height, or 114% */


    /* Black */

    color: #2B2B2B;
    padding-bottom: 1rem;
    padding-left: 0px;  

}

.admin-nav-link:hover{
    color: #EB6B00;
}

.admin-nav-link-active{
    color: #EB6B00;
}

.admin-sidebar{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFF9F6;
}

.accordion-item{
    background: #FFFFFF;
    border-left: 3px solid #EB6B00;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.admin-login-section{
    max-width: 30rem;
    padding-top: 5rem
}

.admin-login-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: left;

    /* Light Grey */

    color: #585858;
    padding-top: 1rem;
}

.admin-login-instruction{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 24px;
    /* or 171% */


    /* Light Grey */

    color: #585858;
}

.admin-dashboard-content{
    padding: 2.5rem;
    padding-left: 5rem;
}

.admin-dashboard-content-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 48px;
    /* identical to box height, or 171% */
    
    color: #000000;
}

.admin-dashboard-details-card{
    background: #FFFFFF;
    /* #EEEEEE */

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem;
}

.admin-dashboard-details-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 178% */

    letter-spacing: 0.03em;

    /* POD Orange */

    color: #EB6B00;
}

.admin-dashboard-stats{
    background: linear-gradient(89.93deg, #ccc9c7 17.31%, rgba(241, 241, 241, 0.8) 99.93%);
    box-shadow: 0px 3px 12px rgba(150, 150, 150, 0.15);
    border-radius: 10px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.admin-dashboard-stats-value{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 64px;
    /* identical to box height, or 100% */

    text-align: center;

    /* POD Orange */

    color: #EB6B00;

}

.admin-dashboard-stats-desc{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 14px;
    /* or 87% */

    text-align: center;

    color: #000000;
}

.admin-dashboard-recent-transactions{
    background: #FFFFFF;
    /* #EEEEEE */
    
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem;
}

.aggreement-header-1{
    font-weight: 500;
}

.agreement-text{
    height:100vh;
    overflow-y: scroll;
}

.covid-close{
    text-align: right;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.covid-content{
    max-width: 40rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.covid-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 1.3rem;
    /* line-height: 48px; */
    text-align: left;
    color: #2B2B2B;
}

.recent-transaction-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 14px;
    /* identical to box height, or 87% */
    
    
    /* Light Grey */
    
    color: #585858;
}

.recent-transaction-view-all{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 14px;
    /* identical to box height, or 100% */

    text-align: center;

    /* POD Orange */

    color: #EB6B00;
}

.recent-transaction-time{
    font-family: Objektiv Mk2;
    font-style: italic;
    font-weight: 500;
    font-size: .9rem;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* Another Grey */

    color: #ADADAD;
    padding-top: 1.5rem;
}

.recent-transactions-card{
    padding: 1rem;
    background: #F7F6F4;
    border-radius: 10px;
    margin-bottom: 1rem;

}

.recent-transaction-card-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 24px;
    /* or 171% */


    /* POD Orange */

    color: #EB6B00;

}

.tickets-card-footer{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 20px;
    /* identical to box height, or 167% */

    padding-top: .5rem;
    /* Light Grey */
    color: #585858;

}

.agreement-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 18px;
    /* or 138% */

    letter-spacing: 0.03em;

    /* Light Grey */

    color: #585858;
}

.apply-room-card{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.apply-room-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    /* identical to box height, or 133% */

    /* Black */

    color: #2B2B2B;
    padding-top: 1rem;
    padding-left: .5rem;
}

.banner-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    /* POD White */

    color: #FFFFFF;
    margin-bottom: 0px;
    max-width: 20rem;
}

.banner-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .7rem;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 18rem;
}

.btn-add-room{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
    /* POD Orange */
    
    background: #EB6B00;
    width: 8rem;
    height: 2.5rem;
}

.btn-add-room:hover{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-deactivate{
    background: #EEEEEE;
    border-radius: 10px;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.03em;

    /* POD White */

    color: #FFFFFF !important;
}

.btn-deactivate:hover{
    background: #EEEEEE;
    border-radius: 10px;
   
}

.btn-download{
    background: #FFFFFF;
    /* Ligher */

    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn-download:hover{
    background: #FFFFFF;
    /* Ligher */

    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn-health{
    background: #FFFFFF !important;
    /* POD Orange */

    border: 2px solid #EB6B00 !important;
    border-radius: 10px !important;
    margin-right: 1rem;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #000000;
}

.btn-health:hover{
    background: #FFFFFF !important;
    /* POD Orange */

    border: 2px solid #EB6B00 !important;
    border-radius: 10px !important;
}

.btn-health-false{
    border: 2px solid #EEEEEE !important;
    border-radius: 10px !important;
}

.btn-room-edit{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .7rem;
    line-height: 1rem;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.03em;
    width: 100px;  
}

.btn-room-edit:hover{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-room-edit:focus{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-cancel-modal{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
    /* font-family: Objektiv Mk2; */
    /* font-style: normal;
    font-weight: bold;
    font-size: 1rem; */
    /* line-height: 1.2rem; */
    /* identical to box height, or 200% */

    text-align: center;
    /* letter-spacing: 0.03em; */
    /* width: 100px;  */
}

.btn-register{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.03em;
    width: 200px;
}



.btn-register:hover{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-register:focus{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-register-dark{
    background: #45081A;
    border-radius: 10px;
    border-color: #45081A;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.03em;
    width: 200px;

}

.btn-register-dark:hover{
    background: #45081A;
    border-color: #45081A;
}

.btn-register-dark:focus{
    background: #45081A;
    border-color: #45081A;
}

.btn-download{
    background-color: #ffffff !important;
    border-color: black !important;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.03em;
    width: 200px;
    color: black;
}

.btn-download-dark:hover{
    background: #ffffff;
    border-color: black;
}

.btn-download-dark:focus{
    background: #ffffff;
    border-color: black;
}

.btn-room-type{
    max-width: 25rem;
    margin-bottom: 1rem;
    background: #FFFFFF;
    /* #EEEEEE */

    border: 2px solid #EEEEEE;
    border-radius: 10px;
    color: #45081A;
}

.btn-check:checked+.btn-light{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
    color: #fff !important;
}

.confirm-section{
    padding-bottom: 3rem;
}

.confirm-header-right{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 178% */

    letter-spacing: 0.03em;

    /* POD Orange */

    color: #EB6B00;
    margin-bottom: 0px;
}

.confirm-header-left{
    font-family: Lufga;
    font-style: normal;
    font-weight: 200;
    font-size: .8rem;
    line-height: .8rem;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    /* POD Orange */

    color: #EB6B00;
    margin-bottom: 0px;
    padding-top: .8rem;

}

.confirm-terms-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 24px;
    /* or 200% */


    /* Light Grey */

    color: #585858;
}

.confirm-text-left{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 1rem;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    /* POD Maroon Red */

    color: #45081A;
}

.confirm-text-right{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1rem;
    /* identical to box height, or 171% */

    text-align: right;
    letter-spacing: 0.03em;

    /* Black */

    color: #2B2B2B;
}

.confirm-total-header{
    font-family: Lufga;
    font-style: normal;
    font-weight: bold;
    font-size: .5rem;
    line-height: 24px;
    /* identical to box height, or 240% */

    text-align: center;
    letter-spacing: 0.1em;

    color: #7A7A7A;
}
.confirm-total-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 24px;
    /* identical to box height, or 67% */

    text-align: center;

    /* Black */

    color: #0B0B0B;
}


.feature-section{
    padding-top: 8rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: url("/img/feature-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.feature-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    /* or 125% */


    /* POD Maroon Red */

    color: #45081A;
    max-width: 8rem;
    margin-bottom: 0px;
    padding-top: .2rem;
    padding-left: 1rem;
}

.feature-section-inner{
    max-width: 70rem;
}

.feature-section-footer{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 28px;
    /* identical to box height, or 187% */


    /* Black */
    text-align: left;
    color: #2B2B2B;
}

.feature-section-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 64px;
    /* identical to box height, or 133% */
    text-align: left;

    /* POD Orange */

    color: #EB6B00;
}

.feature-section-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 26px;
    /* or 144% */


    /* Black */
    text-align: left;
    color: #2B2B2B;
    max-width: 25rem;
}

.footer-logo{
    max-width: 5rem;
}

.btn-login{
    background: #EB6B00;
    border-color: #EB6B00;
    border-radius: 10px;
}

.btn-login:hover{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-login:focus{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}
.btn-login[disabled]{
    background-color: #eb6a01 !important;
    border-color: #eb6a01 !important;
}

.btn-login:hover{
    background: #EB6B00;
    border-color: #EB6B00;
}

.btn-register{
    padding: 9px 30px;
    /* POD Maroon Red */
    background: #45081A;
    border-color: #45081A !important;
    border-radius: 10px;
}

.btn-register:hover{
    /* POD Maroon Red */
    background: #45081A;
    border-color: #45081A !important;
}

.contact-info{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 28px;
    /* or 175% */


    /* POD Maroon Red */

    color: #45081A;
    max-width: 30rem;
}

.contact-section{
    padding-top: 25rem;
    background: #ffffff;
}

.contact-section-inner{
    max-width: 70rem;
}

.contact-text{
    text-align: center;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: .8rem;
    line-height: 24px;
    /* identical to box height, or 133% */


    /* POD White */

    color: #FFFFFF;

}

.contact-covid{
    text-align: center;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 22px;
    /* identical to box height, or 157% */

    /* POD Orange */

    color: #EB6B00;
    cursor: pointer;
}

.contact-email{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .7rem;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;

    /* POD White */

    color: #FFFFFF;
}

.features{
    max-width: 25rem;
    margin-left: auto;
}

.footer-inner{
    max-width: 80rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-inner-2{
    max-width: 15rem;
}

.landing-badge{
    max-width: 13rem;
    margin-top: 22rem
}

.landing-footer-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .7rem;
    line-height: 1rem;
    /* or 143% */


    /* POD White */

    color: #FFFFFF;
    /* max-width: 10rem; */
    border-style: solid;
    border-left-color: white;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-width: .1rem;
}

.landing-header{
    position: relative;
    max-width: 80rem;
    padding-top: 2rem;
    z-index: 1;

}

.landing-logo{
    height: 60px;
    width: 123.4262924194336px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.faq-answer{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-size: .8rem;
    line-height: 22px;
    /* or 157% */


    /* Light Grey */

    color: #585858;
    max-width: 40rem;
}

.faq-bullet-1{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 32px;
    /* identical to box height, or 100% */


    /* POD Orange */

    color: #EB6B00;

}

.faq-bullet-2{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 32px;
    /* identical to box height, or 100% */


    /* Black */

    color: #2B2B2B;
}

.faq-question{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 178% */


    /* POD Black */

    color: #474747;
}

.faq-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 48px;
    /* identical to box height, or 133% */


    /* POD Orange */

    color: #EB6B00;
}

.faq-section{
    margin-top: 20rem;
    background: #ffffff;
}

.faq-section-inner{
    max-width: 50rem;
    padding-bottom: 3rem;
}


.facilities-title{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1rem;
    /* identical to box height, or 200% */

    letter-spacing: 0.03em;

    /* Light Grey */

    color: #585858;
    padding-top: .8rem;
}

.frame-img{
    max-width: 30rem;
    margin-bottom: 1rem;
}

.guarantor-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 178% */

    letter-spacing: 0.03em;

    /* POD Orange */

    color: #EB6B00;
}

.header-links{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 32px;
    /* identical to box height, or 229% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* POD Black */

    color: #474747;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
}

.invalid-password-message{
    text-align: left;
}

.info-card-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3rem;
    /* or 133% */

    max-width: 30rem;
    color: #000000;
}

.info-card-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    /* POD Black */

    color: #474747;
}

.landing-ul{
    max-width: 30em;
}

.landing-jumboton{
    position: absolute;
    width: 100%;
    /* height: 652px; */
    left: 0px;
    top: 0px;
    background-image: url("/img/head-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    /* background: linear-gradient(359.23deg, #FFFFFF 16.66%, #FFFFFF 44.76%, rgba(255, 255, 255, 0.8) 99.28%); */
}

.landing-jumbotrun-content{
    text-align: center;
    max-width: 35rem;
    margin-top: 10rem;
}

.landing-jumbotron-text-1{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    /* POD Orange */

    color: #EB6B00;
}

.landing-jumbotron-text-2{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    /* POD Maroon Red */

    color: #45081A;
    margin-bottom: 1rem;
}

.landing-jumbotron-button-1{

    justify-content: center;
    align-items: center;
    padding: 9px 40px;

    margin-left: 1rem;
    margin-right: 1rem;
    width: 216px;
    height: 50px;
    left: 793px;
    top: 506px;

    /* POD Maroon Red */

    background: #45081A;
    border-radius: 10px;
    margin-bottom: 1rem;

}

.landing-jumbotron-button-1:hover{
    background: #45081A;
    border-color: #45081A !important;
}

.landing-jumbotron-button-2{

    justify-content: center;
    align-items: center;
    padding: 9px 40px;

    margin-left: 1rem;
    margin-right: 1rem;
    width: 216px;
    height: 50px;
    left: 793px;
    top: 506px;

    /* POD Maroon Red */

    background: #EB6B00;
    border-radius: 10px;
    margin-bottom: 1rem;

}

.landing-jumbotron-button-2:hover{
    background: #EB6B00;
    border-color: #EB6B00 !important;
}

.landing-student-info{
    background: #F8F8F8;
    padding-top: 2.5rem;
}

.landing-student-info-card{
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    max-width: 40rem;
}

.landing-student-info-card-inner{
    max-width: 30rem;
}

.login-banner{
    background-image: url("/img/login-banner.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 800px;
    /* background-position-y: bottom; */
}

.login-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 48px;
    /* identical to box height, or 133% */


    /* Black */

    color: #2B2B2B;
}

.login-form-card{
    background: #FFFFFF;
    border-radius: 15px;
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.login-form-card-inner{
    max-width: 35rem;
}

.login-form-label{
    font-family: Objektiv Mk2;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 213% */

    letter-spacing: 0.03em;

    color: #474747;
}

.login-instruction{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .85rem;
    line-height: 1.5rem;
    /* identical to box height, or 150% */


    /* POD Black */

    color: #474747;
    max-width: 26rem
}

.login-instruction-4{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1rem;
    /* identical to box height, or 150% */


    /* POD Black */

    color: #474747;
    padding-top: 1rem;
}

.login-instruction-2{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
}

.login-instruction-3{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .7rem;
    line-height: 28px;
    /* identical to box height, or 187% */

    letter-spacing: 0.03em;

    /* Light Grey */

    color: #585858;
    padding-top: .8rem;
}

.login-section{
    padding: 5% 5%;
}

.modal-header{
    background: #EEEEEE;
    border-radius: 5px 5px 0px 0px;
}

.modal-title{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 30px;
    /* identical to box height, or 187% */


    /* Light Grey */

    color: #585858;
}

.navbar-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 32px;
    /* identical to box height, or 213% */

    letter-spacing: 0.06em;

    /* POD Black */

    color: #474747;
}

.navbar-text-action-link{
    text-decoration: none;
    color: #EB6B00;
}

.our-space-section{
    position: relative;
    margin-top: 23rem;
    background: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.our-space-section-header{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 32px;
    /* identical to box height */


    /* POD Orange */

    color: #EB6B00;
}

.our-space-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 48px;
    /* or 133% */


    /* Black */

    color: #2B2B2B;
    margin-bottom: 3rem;
    margin-top: 1rem;;

}

.our-space-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;
    /* or 150% */


    /* POD Black */

    color: #474747;

}

.our-space-section-inner{
    max-width: 80rem;
}

.payment-card-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 178% */

    /* Black */

    color: #2B2B2B;
}

.payment-successful-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    /* Black */

    color: #2B2B2B;
}

.pau-footer{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    color: #000000;
    padding-top: 2rem;
}

.progress-container{
    background-color: #F8F2F0;
}

.progress-start-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    /* identical to box height, or 137% */
    
    text-align: center;
    
    /* POD Orange */
    
    color: #EB6B00;
    padding-top: .8rem !important;
    margin-bottom: 0px;
}

.profile-account-dropdown{
    background: #FFFFFF;
    /* #EEEEEE */

    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}

.profile-notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .profile-notification .badge {
    position: absolute;
    top: 2px;
    right: 0px;
    padding: 2px 4px;
    border-radius: 50%;
    background: red;
    color: white;
  }

.account-dropdown-list{
    background-color: #fff;
    text-align: left;
    list-style-type: none;
}

.profile-banner{
    position: relative;
    background-image: url("/img/profile-landing-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1
}

.profile-banner-content{
    max-width: 80rem;
    padding-top: 3rem;
    /* padding-bottom: 5rem; */
}

.profile-banner-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile-breadcrum{
    color:#EB6B00;
    padding-top: 7rem;
}

.profile-breadcrum-dark{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    /* identical to box height, or 229% */


    /* POD Maroon Red */

    color: #45081A;
}

.profile-header-links{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 133% */


    /* Black */
    padding-left: 1.2rem !important;
    color: #2B2B2B;
}

.profile-header-links:hover{
    color:#EB6B00;
}

.profile-header-active{
    color:#EB6B00;
}

.profile-info-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* POD Orange */

    color: #EB6B00;
}

.profile-info-text{
    font-family: Objektiv Mk2;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Light Grey */

color: #585858;
}

.profile-interest{
    background: #F4F4F4;
    border-radius: 50px;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .6rem;
    line-height: 20px;
    color: #737373;
    /* identical to box height, or 167% */
}

.profile-ul{
    max-width: 40rem;
}

.profile-welcome-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 42px;
    /* identical to box height, or 131% */


    /* POD Black */

    color: #474747;
}

.profile-welcome-text-bold{
    font-family: Calistoga;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 42px;
    /* identical to box height, or 87% */


    /* POD Maroon Red */

    color: #45081A;

}

.profile-welcome-name{
    color: #EB6B00;
}

.registration-form-label{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 32px;
    /* identical to box height, or 213% */

    letter-spacing: 0.03em;

    color: #474747;
    text-align: left;
    width: 100%;
}

.register-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 48px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Black */

    color: #2B2B2B;
}

.register-progress{
    background: #F8F2F0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.register-requirements-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .9rem;
    line-height: 24px;
    /* identical to box height, or 120% */


    /* POD Orange */

    color: #EB6B00;
}

.register-requirements-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* POD Black */

    color: #474747;

}


.registration-banner{
    position: relative;
    background-image: url("/img/registration-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1
}

.registration-banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #45081A;
    opacity: 0.6;
    /* background: #45081A; */
    z-index: 2;
}

.registration-banner-content{
    position: relative;

    z-index: 3;

    /* Finally, style and place the content */
    color: white;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.registration-card{
    position: relative;

    max-width: 40rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    filter: drop-shadow(0px 4px 24px rgba(150, 150, 150, 0.15));
    background: #FFFFFF;
    border-radius: 15px;
    z-index: 3;
    margin-top: -5rem;
}

.registration-card-inner{
    max-width: 30rem;
}

.registration-thumbnail{
    background: #F8F8F8;
    /* Ligher */

    border: 3px dashed #C8C8C8;
    border-radius: 10px;
}

.registration-thumbnail-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* Another Grey */

    color: #ADADAD;
}

.room-checklist-card{
    max-width: 40rem;
    background: #FFFFFF;
    /* Shadow */

    box-shadow: 0px 4px 24px rgba(150, 150, 150, 0.15);
    border-radius: 15px;
}

.room-checklist-card-inner{
    padding-left: 4rem;
    padding-right: 4rem;
}

.room-checklist-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .9rem;
    line-height: 32px;
    /* or 178% */


    /* POD Orange */

    color: #EB6B00;
}

.room-checklist-subheader{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 32px;
    /* or 229% */


    /* POD Orange */

    color: #EB6B00;
}

.room-checklist-bullet{
    background: #FFFFFF;
    /* Ligher */
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #C8C8C8;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
}

.room-checklist-bullet:hover{
    background: #918f8f;
}

.room-checklist-bullet-active{
    background: #EB6B00;
}

.room-checklist-bullet-deactivate{
    background-color: #C8C8C8;
}

.room-checklist-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 32px;
    /* identical to box height, or 200% */
    margin-bottom: 0px;

    /* Light Grey */

    color: #585858;
}

.room-deactivated{
    opacity: 0.6;
}

.room-edit{
    cursor: pointer;
}

.room-table-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 30px;
    /* identical to box height, or 187% */

    text-align: center;

    /* Light Grey */

    color: #585858;
    background: #ececec;
    /* #EEEEEE */

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
}

.room-table-value{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 30px;
    /* identical to box height, or 214% */


    /* Light Grey */

    color: #585858;
    text-align: center;
}

.room-type-price{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: right;

    /* POD Maroon Red */

    /* color: #45081A; */
    margin-bottom: 0px;
}

.room-type-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* POD Black */

    /* color: #474747; */
    margin-bottom: 0px;
}

.room-select-year{
    background: #FFE9DE;
    /* New Orange Light */

    border: 2px solid #F7F6F4;
    box-sizing: border-box;
    border-radius: 5px;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
}

.roommate-card{

}


.signature-canvas{
    width: 320px;
    height: 150px;
    left: 523px;
    top: 1081px;

    background: #FBFBFB;
    border-radius: 10px;
}

.signature-upload-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #EB6B00;

    cursor: pointer;
    
}

.social-contact{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.social-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 32px;
    /* identical to box height, or 133% */


    /* POD Orange */

    color: #EB6B00;
}

.student-living-header-1{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    
    /* Light */
    text-align: center;
    color: #F8F8F8;
}

.student-living-header-2{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 56px;
    /* identical to box height, or 133% */
    
    text-align: center;
    font-feature-settings: 'liga' off;
    
    /* POD White */
    
    color: #FFFFFF;
}

.student-living-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #45081A;
}

.student-living-section-inner{
    max-width: 70rem;
}

.student-living-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    /* POD White */

    color: #FFFFFF;
}

.support-button{
    background: #FFFFFF;
    /* POD Orange */

    border: 1.5px dashed #EB6B00;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 100% */


    /* POD Orange */

    color: #EB6B00;
    margin-bottom: 0px;
    cursor: pointer;
}

.support-category-item{
    background: #FFFFFF;
    /* #EEEEEE */

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    /* Shadow */

    box-shadow: 0px 4px 24px rgba(150, 150, 150, 0.15);
    border-radius: 15px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.support-category-item>.active{
    padding-top: 0px;
}

.support-category-item-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;

    /* POD Black */

    color: #474747;
    margin-bottom: 0px;
}

.support-done-logo{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.support-done-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    /* POD Black */

    color: #474747;
}

.support-done-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    /* or 185% */
    
    text-align: center;
    
    /* Another Grey */
    
    color: #ADADAD;
}

.support-ticket{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    /* Light Grey */

    color: #585858;
}

.support-ticket-completed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;

    background: #419B95;
    border-radius: 5px;
    color: white;
    margin-bottom: 0px;
}

.support-ticket-in-progress{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;

    background: #419b45;
    border-radius: 5px;
    color: white;
    margin-bottom: 0px;
}

.support-ticket-id{
    font-weight: 200;
}

.support-ticket-rating{
    background: #FFFFFF;
    /* Shadow */

    box-shadow: 0px 4px 24px rgba(150, 150, 150, 0.15);
    border-radius: 10px;
    text-align:  center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.support-ticket-rating-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    /* Light Grey */

    color: #585858;
}

.support-ticket-status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
    background: #419B95;
    border-radius: 5px;
    color: white;
}

.support-ticket-title{
    font-family: Campton;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.03em;

    /* Light Grey */

    color: #585858;
}

.support-ticket-card{
    /* New Orange Light */

    background: #F7F6F4;
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.support-ticket-card-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    
    /* Light Grey */
    
    color: #585858;
}

.support-ticket-card-title{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 300;
    font-size: .9rem;
    line-height: 24px;
    /* or 150% */


    /* POD Black */

    color: #474747;
}

.support-ticket-checked{
    background-color: #EB6B00;
    max-width: 4rem;
    border-top-right-radius: 10px;

}

.support-type-header{
    font-family: Campton;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 229% */

    text-align: center;
    letter-spacing: 0.03em;

    /* POD Orange */

    color: #EB6B00;
}

.support-type-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */


    /* Light Grey */

    color: #585858;
}

.support-type-text-muted{
    font-weight: 600;
    font-size: 1rem;
    line-height: 32px;
}

.support-title{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 32px;
    /* identical to box height, or 213% */

    letter-spacing: 0.03em;

    color: #474747;
}


.timeline-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 145.23%;
    /* or 20px */


    color: #000000;
    margin-bottom: 5px;
}

.timeline-time{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .5rem;
    line-height: 145.23%;
    /* or 15px */


    /* Form Text */

    color: #9D9D9D;
    margin-bottom: 5px;
}

.timeline-action{
    background: #EEEEEE;
    /* #EEEEEE */

    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: 500;
    font-size: .6rem;
    line-height: 16px;
    /* identical to box height, or 133% */

    /* Black */

    color: #2B2B2B;
    max-width: 8rem;

}

.we-stand-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 32px;
    /* identical to box height, or 133% */


    /* Black */

    color: #2B2B2B;
}

.we-stand-item{
    border-bottom: .3rem solid #2B2B2B ;
    margin-bottom: 1rem;
}

.we-stand-item-header{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 72px;
    /* identical to box height, or 112% */


    /* POD Orange */

    color: #EB6B00;
}

.we-stand-item-text{
    font-family: Objektiv Mk2;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* POD Black */

    color: #474747;
    max-width: 35rem;
}

.we-stand-section{
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.we-stand-section-inner{
    max-width: 80rem;
}

@media (max-width: 575.98px) { 

    .about-section{
        margin-top: 23rem;
    }
    .landing-badge {
        max-width: 10rem;
        margin-top: 15rem;
    }
    .landing-ul{
        background: #ffffff;
    }

    .login-form-card{
        background: #FFFFFF;
        border-radius: 15px;
        padding-top: 3rem;
        padding-bottom: 5rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .register-header{
        font-size: 1.5rem;
    }

    .login-instruction{
        max-width: 100%;
    }

    .progress-start-text{
        display: none;
    }
}



.zero, .one, .two, .three,.four,.five{
    position:absolute;
	margin-top:-5px;
	z-index:1;
	height:.8rem;
	width:.8rem;
    border-radius: 1rem;
}
.zero{
    left:10%;
}

.one{
	left:20%;
}
.two{
	left:40%;
}
.three{
	left:60%;
}
.four{
	left:80%;
}
.five{
	left:90%;
}
.primary-color{
	background-color:#EB6B00;
}

.progress{
    height: 5px;
}

.progress-bar{
    background-color: #e86a02;
}

.no-color{
	background-color:inherit;
}

